h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  color: #7e6c6c;
  margin-top: 2px;
}

p {
  font-size: 1.15em;
}

.col2 {
  text-align: right;
}

.designPlatforms {
  margin-top: 40px;
}

hr {
  margin: 0 0 20px 0;
}

.hrDev {
  margin: 0 0 20px 5%;
  width: 95%;
}

.skillsInfo {
  padding-right: 70px;
}

.rowSkills {
  padding: 0 40px;
}

@media only screen and (max-width: 600px) {
  .skillsInfo {
    width: 100%;
    padding: 0 25px;
  }

  .rowSkills {
    padding: 0;
  }

  .col2 {
    text-align: left;
    margin-top: 50px;
  }

  .mobileSkillIcons {
    text-align: center;
  }

  .designPlatforms h2,
  .col2 h2 {
    text-align: center;
  }
}
