.portfolioBtn:hover {
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  transition: transform 0.5s;
  color: #7e6c6c;
}
