.icon {
  color: #7e6c6c;
  margin-right: 10px;
}

.icon:hover {
  color: #0f0f0f;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  transition: transform 0.5s;
}

.iconContainer {
  display: inline;
  text-align: right;
}
