.icon {
  color: red;
}

.iconHolder {
  border: 1px solid black;
  width: 90px;
  padding: 18px 0;
  margin-left: 15px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
