.greeting {
  text-align: left;
  padding-left: 8%;
}

.portrait {
  text-align: center;
}

.socialMediaIcons {
  text-align: right;
  margin-top: 20px;
  margin-right: 25px;
}

hr {
  border-top: 2px solid #fbfbfb;
  width: 95%;
}

@media only screen and (max-width: 600px) {
  .greeting {
    padding: 5%;
  }
}
