.greeting {
  padding-top: 60px;
  text-align: left;
  position: relative;
  padding-left: 8%;
  z-index: 100;
}

.portrait {
  text-align: center;
}

.socialMediaIcons {
  text-align: right;
  margin-top: 20px;
  margin-right: 25px;
}

hr {
  border-top: 2px solid #fbfbfb;
  width: 100%;
}

.holder#mobilePortrait {
  display: none;
}

.particleHolder {
  margin-top: -50px;
}

@media only screen and (max-width: 992px) {
  .greeting {
    padding: 0 10%;
    margin-top: 50px;
  }

  .holder#mobilePortrait {
    display: inline-block;
  }

  .holder#portrait {
    display: none;
  }
}
