.greeting {
  font-size: 9em;
  color: #292929;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}
.greeting::first-letter {
  font-size: 1.5em;
  color: #7e6c6c;
}

.greeting span {
  color: #f4d6cc;
}

.type {
  color: #292929;
  margin-top: -15px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
  padding-left: 3%;
}

@media only screen and (max-width: 600px) {
  .type {
    margin: 0;
    padding-left: 0.2%;
  }

  .greeting {
    margin: 0 0 0 -15px;
    font-size: 9em;
  }
}
