.card {
  padding: 20px;
}

.title {
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  color: #7e6c6c;
  font-weight: 500;
}

.revealSection {
  margin-top: 20px;
}

.cardBtn {
  margin-right: 20px;
  color: rgb(65, 64, 64);
  background-color: white;
  border: 1px solid #7e6c6c;
}

.cardBtn:hover {
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  transition: transform 0.5s;
  color: #7e6c6c;
}

@media only screen and (max-width: 600px) {
  .btnMobile {
    text-align: center;
  }
}
