body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-icons-outlined,
.material-icons {
  color: #a4a7b0;
}

.material-icons-outlined:hover,
.material-icons:hover {
  color: black;
}

.card .card-reveal {
  background-color: white;
  color: black;
}

#tsparticles {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 65%;
  opacity: 0.8;
}

@media only screen and (max-width: 992px) {
  #tsparticles {
    display: none;
  }
}
